  /* Body  */
  body {
    min-height: 100%;
    line-height: 2;
    font-family:Verdana, Geneva, Tahoma, sans-serif }
  
  /* h1 {
      font-size: 200%;
      color: black;
       }  */
    
    /* h2 {
      font-size: 150%;
      color: black;
    }   */


/* Navigation  */
#Nav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color:#4B3F72;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    font-weight: 300;
    letter-spacing: 2px;
  }

.navbar-brand {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif,
    font-weight: 200;
    letter-spacing: 1px;
  }
 
  #Nav .navbar-brand:hover,
  #Nav .navbar-brand:focus {
    color:white ;
  }

  #Nav .navbar-nav > li > a:hover,
  #Nav .navbar-nav > li > a:focus:hover {
    color: white;
  } 


/*   
  #Nav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
  } */
/*   
  #Nav .navbar-nav > li > a {
    font-size: 11px;
    font-family: Liberation Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  } */
  
  /* #Nav .navbar-nav > li > a.active {
    color: #fdcc52 !important;
    background-color: transparent;
  } */
  
  /* #Nav .navbar-nav > li > a.active:hover {
    background-color: transparent;
  } */
  
  /* #Nav .navbar-nav > li > a,
  #Nav .navbar-nav > li > a:focus {
    color: #222222;
  } */
  
/* Hero section/Jumbotron */
.jumbotron-fluid {
  position: relative;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
  height: 80px; 
  background-color: #8c7284;  */
}
.container {
  text-align: center;
  position: : absolute;
 } */

 /*  about me  */

